.header {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: darkcyan; */
}

.innerHeader {
    width: 100%;
    margin: 0 auto;
    max-width: 660px;
    padding: 40px 40px;
}

.sidemenu {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.menu {
    display: flex;
    width: 300px;
    text-align: right;
    padding-left: 0;
    justify-content: space-around;
    /* background-color: blue; */
}


